<h2>O produto {{user.nomeProduto}} <br> com o fornecedor {{user.nomeFornecedor}} <br>
comprou em {{user.dataCompra}} <br> no valor de {{user.valorCompra}} <br> com valor da venda {{user.valorVenda}} <br> na categoria {{user.categoria}} Minhas Meus Produtos!</h2>

<a href="/">Home</a>
<a href="/users/add">Meus Produtos</a>