{{#if auth}}


<h2>O carro da marca {{user.marca}} tem a Potencia do motor de {{user.pot_motor}} com o nome {{user.nome}} na cor {{user.cor}} e seu ano de fabricação foi {{user.ano_fabric}} </h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
{{/if}}